<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.dileep.plugins.datepicker"
        version="0.0.1">
    <name>DatePickerPlugin</name>
    <description>Cordova Date Picker Plugin (android only)</description>
    <license>Apache 2.0</license>
    <keywords>cordova, datepicker</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DatePickerPlugin">
                <param name="android-package" value="com.dileep.plugins.datepicker.DatePickerPlugin"/>
            </feature>
        </config-file>

        <js-module src="www/android/DatePicker.js" name="DatePicker">
            <clobbers target="datePicker" />
        </js-module>

        <source-file src="src/android/DatePickerPlugin.java" target-dir="src/com/dileep/plugins/datepicker" />

    </platform>
</plugin>
